@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Ubuntu:300,400,700&display=swap');

body{
    font-family:"Montserrat";
}

#title{
    background-color:#ff4c68;
    color:white;
}

.navbar{
    padding:0 0 4.5rem;
}


h1{
    font-size:3.5rem;
    line-height: 1.5;
    font-weight:900;
}

.container-fluid{
    padding:3% 15% 7%;
}

.navbar-brand{
    font-family:"Ubuntu";
    font-size:2.5rem;
    font-weight:bold;
}

.nav-item{
    padding: 0 18px;
}

.download-button{
    margin:5% 3% 5% 0;
}

.title-image{
    width:60%;
    transform:rotate(25deg);
    position:absolute;
    right:30%;
}

/* z-index of phone */

#features{
    padding:7% 15%;
    color:#8f8f8f;
    background-color:white;
    position:relative;
}
h3{
    font-family:"Montserrat";
    font-size:1.5rem;
    font-weight:700;
    color:black;
}

.icon{
    color:#ef8172;
    margin:1rem 0;
}

.icon:hover{
    color:#ff4c68;
}

.feature-box{
    text-align:center;
}
.feature-box p{
    padding:0 2em;
}

/* Testimonials Section */

#testimonials{
    color:white;
    background-color:#ef8172;
    text-align:center;
}

.carousel-item{
    padding:7% 15%;
}
h2{
    font-family:"Montserrat";
    font-weight: 700;
    font-size:3rem;
    line-height: 1.5;
}

.testimonial-image{
    width:10%;
    border-radius:100%;
    margin:20px;
}

#press{
    text-align:center;
    background-color:#ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}

/* Pricing Section */

#pricing{
    text-align:center;
    padding:100px;
}

.pricing-column{
    padding:3% 2%;
}

/* cta Section */

#cta{
    text-align:center;
    background-color:#ff4c68;
    padding:5% 15%;
}

.cta-h3{
    color:white;
    font-weight:900;
    font-size:3rem;
    line-height:1.5;
}


/* Footer Section */

footer{
    background-color:white;
    text-align:center;
    padding:5% 15%;
}

.social-icon{
    margin:20px 10px;
}

/* Media Query */

@media (max-width:951px){

    #title{
        text-align:center;
    }

    .title-image{
        transform:rotate(0);
        position:static;
        width:60%;
    }
}